
{% extends 'tc/base.html' %}
{% load static %}
{% block content %}

    {% if user.is_authenticated %}
    
        <div style="margin:0 auto;text-align:center">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <h1 class="display-4 fw-normal">{{ user.username }} </h1>
                        {% if user.profile.isActive %}
                            <p class="lead fw-normal">Status: <a style="color: green"> Enable </a></p>
                        {% else %}
                            <p class="lead fw-normal">Status: <a style="color: red"> Disable </a></p>
                        {% endif %}
                            <p class="lead fw-normal">Your uses: {{ uses }}</p>
                </div>
            </div>
        </div>
       
    {% else %}
       
        <div class="d-flex justify-content-start">
                <div class="col-4">
                    <h1 class="display-4 fw-normal">Underliner</h1>
                    <p class="lead fw-normal">Are you looking for an automation solution to rule off AMM steps?</p>
                    <p class="lead fw-normal">Underliner is a tool where you can import all your PDF files. With just one click all the work will be done for you. This is an online tool. There is no need to install any software and run configurations. It's accessible on all devices.</p>
                </div>
                <div class="col-4">
                    <img src="{% static 'static/6R6A9549-Edit.jpg' %}" alt="Logo">
                    <!-- <img src="file:///Users/damianjadacki/Downloads/6R6A9549-Edit.jpg" style="higth=300px"> -->
                </div>
        </div>
        <div>
            <p> Underliner is an online tool that is designed to support documentation departments within MRO’s.  It specifically assists with the process of work package preparation. Underliner is able to create a document with the respective maintenance tasks and separate them accordingly, enabling each task and subtask to be signed and stamped by the maintenance technicians. 

                Additionally underliner also generates a header that can be used to list the date, the location of each station etc.
            </p>

            <p> Underliner is an online tool that is designed to support documentation departments within MRO’s.  It specifically assists with the process of work package preparation. Underliner is able to create a document with the respective maintenance tasks and separate them accordingly, enabling each task and subtask to be signed and stamped by the maintenance technicians. 

                Additionally underliner also generates a header that can be used to list the date, the location of each station etc. 
            </p>

        </div>

        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-secondary" href="{% url 'register' %}">Register</a>
        </div>
    {% endif %}

{% endblock %}